*{
    margin: 0;
    padding: 0;
}
/*header*/
.header-section{
    background-color: #160d76;
}
.header-titulo{
    color: white;
    text-align: center;
    padding-bottom: 15px;
}
.header-p{
    text-align: center;
}
hr{
    border: solid;
}
/*main*/
.main-section{
    background-image: url(./complementos/img/foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.main-h1{
    font-size: 50px;
    text-align: center;
    top: 100px;
    color: yellow;
    margin-bottom: 50px;
    -webkit-text-stroke: 1.5px black;
}
/*footer*/
.footer-contenedor{
    display: flex;
}
.footer-contenedor--caja{
    background-color: red;
    border: solid none;
    color: white;
    display: flex;
}
.footer-contenedor--caja_pequeña{
    background-color:rgb(59, 59, 59);
    align-self: flex-end;
    padding: 0px 10px;
    font-size: large;
}